@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    PhotoPrintWXSmall.Views.ViewConst.SetRoutType(ViewData, PhotoPrintWXSmall.Views.RoutType.设置);
}
<div class="jumbotron">
    <h1>设置账户信息</h1>
</div>
<div class="row">

    <div class="col-xs-6 col-sm-3">
        <label>用户名</label>
        <input type="text" id="userName" class="form-control" />
    </div>

    <div class="col-xs-6 col-sm-3">
        <label>旧密码</label>
        <input type="password" id="oldPwd" class="form-control" />
    </div>

    <div class="col-xs-6 col-sm-3">
        <label>新密码</label>
        <input type="password" id="newPwd" class="form-control" />
    </div>

    <div class="col-xs-6 col-sm-3">
        <label>验证密码</label>
        <input type="password" id="verifyPwd" class="form-control" />
    </div>

</div>
<br />
<div class="row">
    <div class="col-xs-6 col-sm-3">

    </div>
    <div class="col-xs-6 col-sm-3">

    </div>
    <div class="col-xs-6 col-sm-3">

    </div>
    <div class="col-xs-6 col-sm-3">
        <button class="btn btn-primary pull-right" onclick="doChangePwd()">修 改</button>
    </div>
</div>

<script>
    function doChangePwd() {
        var userName = $("#userName").val();
        var oldPwd = $("#oldPwd").val();
        var newPwd = $("#newPwd").val();
        var verifyPwd = $("#verifyPwd").val();
        var json = {
            "CompanyUser": {
                "CompanyUserPassword": newPwd,
                "CompanyUserName": userName
            },
            "VerifyPassword": verifyPwd,
            "OldPassword": oldPwd
        };
        var jsonObj = JSON.stringify(json);
        $.ajax({
            type: "PATCH",
            url: "/Merchant/PatchCompanyUser",
            contentType: "application/json; charset=utf-8",
            data: jsonObj,
            dataType: "json",
            success: function (message) {
                alert(message.StatusCode);
            },
            error: function () {
                alert("修改失败");
            }
        });
    }
</script>